.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared class */
.paragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--#627382, rgba(98, 115, 130, 1));
  text-align: center;
}

header nav {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1600px;
  padding: 16px 120px;

  background: var(--#FFFFFF, rgba(255, 255, 255, 1));
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav .menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 172%;
}

nav .btn {
  background-color: #30b868;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

.hero {
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  height: 676px;
  align-items: center;
}

section .btn1 {
  background-color: white;
  border-radius: 1000px;
  color: #30b868;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500px;
  margin-top: 162px;
  margin-bottom: 24px;
}

section .banner-heading {
  font-size: 72px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 16px;
}

section .paragraph {
  color: rgba(255, 255, 255, 1);
  padding: 0 488px;
  line-height: 24px;
  margin-bottom: 32px;
}

#bannerbtn .btn2 {
  padding: 12px 16px;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px;
}
#bannerbtn .btn3 {
  padding: 12px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px;
}

#bannerbtn .btn2 img {
  text-align: center;
}

.notes h2 {
  font-size: 48px;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  padding-top: 36px;
}

.notes p {
  text-align: center;
}

#note {
  max-width: 1360px;
}

.note-card-parent {
  text-align: center;
  border-radius: 8px;
  padding: 24px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radius-image {
  background: rgba(249, 85, 85, 1);
  height: 60px;
  width: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.note-card-parent p {
  font-size: 16px;
  font-weight: 400;
  color: var(--#627382, rgba(98, 115, 130, 1));
  text-align: center;
}

.note-card-first {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 24px;
  /* gap: 16; */
  width: 322px;
  height: 300px;
}

.note-card-first h2 {
  background-color: #30b868;
  margin-top: 16px;
  margin-bottom: 16px;
}

.brain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1360px;
  gap: 60px;
}

.brain-content-parent {
  width: 700px;
  height: 300px;
}

.brain-content h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #30b868;
}
.brain-content h1 {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
  text-align: left;
}
.brain-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.list-item li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
}
